<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<!-- GmodNET.API -->
		<add key="gmodnet-packages" value="https://pkgs.dev.azure.com/GmodNET/gmodnet-artifacts/_packaging/gmodnet-packages/nuget/v3/index.json" />
		<!-- Microsoft.Interop.DllImportGenerator -->
		<add key="DotNet Experimental" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-experimental/nuget/v3/index.json" />
		<!-- Microsoft.Interop.DllImportGenerator dependencies-->
		<add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
	</packageSources>
</configuration>
